<ion-grid *ngIf="calificacionesList.length>0">
    <ion-row>
        <ion-col size="4">Materia</ion-col>
        <ion-col size="4">Calificacion</ion-col>
        <ion-col size="4">Aprobatorio</ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6"></ion-col>
    </ion-row>
    <ion-row *ngFor="let calificacion of calificacionesList">
        <ion-col size="5">
            {{calificacion.materia}}
        </ion-col>
        <ion-col size="3">
            {{calificacion.calificacions}}
        </ion-col>
        <ion-col size="4">
            {{calificacion.aprobatorio}}
        </ion-col>
        <ion-col>             </ion-col>
        <ion-col size="3" (click)="editar.emit(calificacion)"><a>Editar</a></ion-col>
        <ion-col size="4" (click)="eliminar.emit(calificacion.id)"><a>Dar de baja</a></ion-col>
    </ion-row>
  </ion-grid>